
<template>
  
    <div>
      <v-row>
        <v-col>
          <h1>{{que_title}}</h1>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-col id="sum_Card" cols="4">
            <Good_sum_component :score="score_list.good"/>
          </v-col>
          <v-col id="sum_Card" cols="4">
            <Moderate_sum_component :score="score_list.moderate"/>
          </v-col>
          <v-col id="sum_Card" cols="4">
            <Bad_sum_component :score="score_list.bad"/>
          </v-col>
        </v-col>
      </v-row>
    </div>
      
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

#sum_Card{
  margin: 20px;
}

.topic-text{
    font-family:Kanit;
    font-weight: bold;
    color: black;
}
.details-text{
    font-family: Kanit;
}
.overlay-content{
   
}
.overlay-button-close{
    text-align:center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    
}
.content-in-overlay{
    padding: 30px;
}



h2{
  font-family: Kanit;
}
v-card-text{
  font-family: Kanit;
  
}




</style>
<script>

const getPoll_URL = process.env.api_getPoll
const getQuestion_URL = process.env.api_getQuestion

import Bad_sum_component from "../dashboard_component/summary_number.vue"
import Moderate_sum_component from "../dashboard_component/summary_number2.vue"
import Good_sum_component from "../dashboard_component/summary_number3.vue"

export default {
    props : {
      que_id : BigInt,
      que_title : String,
    },
    data: () => {
      return {
        overlay: false,
        zIndex: 200,
        data : [],
        score_list : {
          good : 0,
          moderate : 0,
          bad : 0
        },
      }
    },
    components : {
      Bad_sum_component,
      Moderate_sum_component,
      Good_sum_component
    },
    
    async created() {
      this.initialize();
    },
    methods : {
      async initialize() {
        let res_question = await this.$axios.$get(getQuestion_URL);
        let res_poll = await this.$axios.$get(getPoll_URL);

        let prepared_1 = res_poll.filter( (res_poll_item) => res_poll_item.Que_ID == this.que_id )
        let obj_score_1 = this.computedScore(prepared_1)
        this.score_list = obj_score_1
        
        this.data = prepared_1

      },
      computedScore(prepare_data) {

      let total_amount = prepare_data.length
      let good_amount = prepare_data.filter( ( prep ) => prep['React_feeling'] == 3 ).length;
      let moderate_amount = prepare_data.filter( ( prep ) => prep['React_feeling'] == 2 ).length;
      let bad_amount = prepare_data.filter( ( prep ) => prep['React_feeling'] == 1 ).length;

      if(good_amount || moderate_amount || bad_amount){
        return {
          good : Math.round(((good_amount / total_amount)*100)),
          moderate : Math.round(((moderate_amount / total_amount)*100)),
          bad : Math.round(((bad_amount / total_amount)*100))
        }
      } else {
        return {
          good : good_amount,
          moderate : moderate_amount,
          bad : bad_amount
        }
      }

    }
    }

  }
</script>