<template>
    <div class="parent_map_div" onLoad="created()" >
        <div id="map"></div>
    </div>
</template>
<script>

import { Loader } from '@googlemaps/js-api-loader'
import { MarkerClusterer } from '@googlemaps/markerclusterer'

const GoogleMap_apikey = process.env.googlemap_apikey
const GetPoll_URL = process.env.api_getPoll

export default {
    data(){
        return {
            poll_data : [],
            apikey : GoogleMap_apikey,
            version : "weekly",
            libraries : ["places"],
            mapOptions : {
                center : {
                    lat : -34.397,
                    lng : 150.644
                },
                zoom : 2,
            }
        }
    },
    async created(){
        //this.init_currentLocation();
        this.initialize();
        
    },

    methods : {
        async initialize () {
            const loader = new Loader({ apiKey : this.apikey , version : this.version , libraries : this.libraries  })
            const pollData = await this.$axios.$get(GetPoll_URL);
            this.poll_data = pollData
            try {
                
                await loader.load().then((google) => {

                    const MAP_DIV = document.getElementById("map");

                    // Filter Latitude and Longtitude from Poll data
                    let POLL_COORD = []
                    this.poll_data.filter( (poll_object) => 
                        POLL_COORD.push({"lat" :parseFloat(poll_object.Loc_lat), "lng" : parseFloat(poll_object.Loc_long)})
                    )
                    console.log(POLL_COORD)
                    ///////


                    // Initial Our Map on HTML element which we set its ID as "map"
                    let map = new google.maps.Map(MAP_DIV, this.mapOptions);
                    google.maps.event.trigger(map, 'resize')
                    ///////

                    // Initial Marker Cluster
                    const infoWindow = new google.maps.InfoWindow({
                        content : "",
                        disableAutoPan : true,
                    });

                    const labels = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
                    const markers = POLL_COORD.map((position, index) => {
                        const label = labels[index % labels.length]
                        const marker = new google.maps.Marker({
                            position,
                            label
                        })
                        addEventListener("click",marker,() => {
                            infoWindow.setContent(label);
                            infoWindow.open(map , marker);
                        })
                       
                        
                        return marker;
                    })

                    new MarkerClusterer({ markers : markers , map : map })

                    ////////

                    /*let marker = new google.maps.Marker({
                        position : POLL_COORD,
                        map : map
                    })*/
                    
                })
            } catch (error) {
                console.log(error)
            }
            this.init_currentLocation()
        },
        init_currentLocation () {
            let GEO_LOCATION = navigator.geolocation;

            if ( GEO_LOCATION ) {
                //this.mapOptions.center.lat
                GEO_LOCATION.getCurrentPosition( ( position ) => {
                    this.mapOptions.center.lat = position.coords.latitude
                    this.mapOptions.center.lng = position.coords.longitude
                } )
            } else {
                console.log("CANNOT GET GEO_LOCATION")
            }
        }

    }
}
</script>

<style >
#map{
   margin : 0;
   width: "100%";
   height: 600px;
   z-index: 50;
   overflow: visible;
}

.parent_map_div{
    width: 100%;
    height: 100%;
    padding-top: 70px;
    
}

</style>