<template>

<v-responsive>
  <!-- <Mtopnav /> -->
  <div class="allcomponent">
    <div class="event-form">
      <h2 class="event-form-title">สร้างโพลล์</h2>
      
  <v-row>
    <v-col>
      
        <div class="event-form-header">

          <v-form
            ref="form"
            v-model="valid"
            lazy-validation
          >

          <v-text-field 
            v-model="topic"
            placeholder="หัวข้อ"
            solo
            required
          ></v-text-field>

          <v-text-field 
            v-model="writer"
            placeholder="ชื่อผู้สร้าง"
            solo
            required
          ></v-text-field>
          <!-- <input type="text" name="info" class="inputbox" placeholder="หมวดหมู่" /> -->
          <v-select
            :items="category_choice"
            v-model="category_choice_model"
            placeholder="โปรดเลือกหมวดหมู่"
            solo
            required
          ></v-select>
          
          <!-- <input type="text" name="time" class="inputbox" placeholder="ระยะเวลา (วัน)" /> -->
          <v-select
            :items="day_choice"
            v-model="day_model"
            placeholder="ระยะเวลา (วัน)"
            solo
            required
          ></v-select>

          <v-textarea
            label="รายละเอียดโพล"
            solo
            v-model="opinion"
            required
          ></v-textarea>

          <v-btn
            color="#1383F9"
            elevation="2"
            large
            tile
            @click="submitTopic"
          >
          <div style="color: white;">สร้างโพลล์</div>
          </v-btn>

          </v-form>

          <!-- <button  class="create-post-button" >สร้างโพลล์</button> -->
        </div>
      
    </v-col>
  </v-row>
   <v-dialog
        v-model="dialog3"
        max-width="500px"
      >
        <v-card>
          <v-card-title>
            <span>ท่านกรอกข้อมูลไม่สมบูรณ์</span>
            <v-spacer></v-spacer>
            
          </v-card-title>
          <v-card-actions>
            <v-btn
              color="primary"
              text
              @click="dialog3 = false"
            >
              ปิด
            </v-btn>
          </v-card-actions>
        </v-card>
   </v-dialog>

   <v-dialog
        v-model="dialog4"
        max-width="500px"
      >
        <v-card>
          <v-card-title>
            <span>ท่านได้สร้างโพลใหม่ขึ้นมาแล้ว</span>
            <v-spacer></v-spacer>
            
          </v-card-title>
          <v-card-actions>
            <v-btn
              color="primary"
              text
              @click="dialog4 = false"
            >
              ปิด
            </v-btn>
          </v-card-actions>
        </v-card>
   </v-dialog>
  </div>
 </div>   
</v-responsive>

</template>
<style>
.body{
width: 100%;
height: 100%;
}
.checkbox1{
  width:250px;
  margin: 12px;
  margin: auto;
}
.event-form{
background-color: gainsboro;
font-family: Kanit;
width: 400px;
height: 100%;
padding-top: 30px;
padding-bottom: 10px;
align-items: center;
border-width: 2px;
border-radius: 20px;

margin: auto;
}
.event-form-title{
  font-family: Kanit;
  text-align: center;
  color: black;
}

.event-form-header{
  padding: 30px;
}


.header-text{
  color: black;
  font-family: Kanit;
  padding-top: 3vh;
}

/* ปุ่มสร้างpoll */
.create-post-button{
  background-color:/* สีช่องinput */#1383F9; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;

  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  margin-bottom: 30px;
  width: 250px;
}
button:hover{
background-color: #1383F9;
}
/* สีช่องinput */
.inputbox{
  border-color: black;
  border: none;
  width: 250px;
  height: 50px;
  color: black;
  padding: 12px;
  outline: none;
  background-color: white;
  border-radius: 3px;
}
::placeholder{
  color:black;
}
::-ms-input-placeholder { 
  color: black;
}
#category-select{
  width: 250px;
  border: none;
  height: 50px;
  color: black;
  padding: 12px;
  outline: none;
  background-color: white;
  border-radius: 3px;
  cursor: pointer;
}


    


</style>
<script>
import Mtopnav from '@/components/Mtopnav.vue'
import Mcreatepoll from '@/components/Mcreatepoll.vue'

const getQuestion_URL = process.env.api_getQuestion
const postQuestion_URL = process.env.api_postPoll

export default {
    components:{
        Mtopnav,
        Mcreatepoll
    },
    data: () => ({
          includeFiles: true,
          enabled: false,
          valid : true,
          question_data : [],
          topic : "",
          writer : "",
          category_choice : ["weather","political","general","place(s)","other(s)"],
          category_choice_model : "",
          day_choice : [1,3,5,7,14],
          day_model : 0,
          opinion : "",
          dialog3 : false,
          dialog4 : false

    }),
    async created () {
      this.init();
    },
    methods : {
      async init () {
        let obj_get = await this.$axios.$get(getQuestion_URL)
        this.question_data = obj_get
      },
      validate () {
        this.$refs.form.validate()
        this.$refs.form.reset()
        this.$refs.form.resetValidation()
      },
      
      addDays(days) {
        let today = new Date();
        let result = new Date(today)
        result.setDate(result.getDate() + days)
        //Alert.alert("ADD DAYS",(result).toString())
        return result.toISOString().slice(0,19).replace('T',' ')
      },
      async submitTopic(){

        let Que_Text = this.opinion
        let Que_Title = this.topic
        let category = this.category_choice_model
        let Que_timestamp = this.addDays(this.day_model)
        let writer = this.writer
      


          if (writer && Que_timestamp && category && Que_Title && Que_Text) {

            let data = {
              "Que_ID": (this.question_data.length + 1),
              "Que_Text": Que_Text,
              "Que_Title": Que_Title,
              "category" : category ,
              "Que_timestamp" : Que_timestamp,
              "writer" : writer,
              "Vote_Amount" : 1
            }

            try {
              let post_res = await this.$axios.post(postQuestion_URL,data)
              this.$refs.form.reset()
              this.dialog4 = true
              console.log(data)
            } catch (error) {
              console.log(error);
            }


          } else {
            this.$refs.form.reset()
            this.dialog3 = true
          }


        
      }
      
    }
    }

</script>