<template>
    <v-app-bar
      app
      color="white"
      height="100"
    >
     

      <v-toolbar-title class="dailypollheader" >
          <v-button class="gotosection"
                    align-self-end
                    @click="$vuetify.goTo('#Mmap-section')">
Daily Poll
      </v-button>
      </v-toolbar-title>

<v-spacer></v-spacer>

      <v-toolbar-title class="dailypollheader1" >
      <v-button class="gotosection"
                    align-self-end
                    @click="$vuetify.goTo('#Mmap-section')">
แผนที่
      </v-button>
      </v-toolbar-title>
     
      <v-toolbar-title class="dailypollheader1" >
        <v-button class="gotosection"
                    align-self-end
                    @click="$vuetify.goTo('#Mcreatepoll-section')">
สร้างโพลล์
      </v-button>
      </v-toolbar-title>

       <v-toolbar-title class="dailypollheader1" >
        <v-button class="gotosection"
                    align-self-end
                    @click="$vuetify.goTo('#Mmanage-account-section')">
จัดการบัญชี
      </v-button>
      </v-toolbar-title>

<v-toolbar-title class="dailypollheader1" >
      <v-button class="gotosection"
                    align-self-end
                    @click="$vuetify.goTo('#Mtopratedpoll-section')">
โพลล์ยอดนิยม
      </v-button>
      </v-toolbar-title>

<v-toolbar-title class="dailypollheader1" >
      <v-button class="gotosection"
                    align-self-end
                    @click="$vuetify.goTo('#dashboard-section')">
เเดชบอร์ด
      </v-button>
      </v-toolbar-title>


      <!-- xxxxxxxxx -->
      <v-toolbar-title class="dailypollheader1" >
        <div class="textdeconone">
          <v-button >
         <a href="/" class="topnav2">ออกจากระบบ</a>
         </v-button>
        </div>
      </v-toolbar-title>
    </v-app-bar>
</template>
<script>

import Mtopnav from '@/components/Mtopnav.vue'
export default {
    components:{
        Mtopnav
    }
}
</script>
<style>

@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.dailypollheader{
  color: black;
  font-weight: bold;
  font-size: 26px;
  font-family: Kanit;
  margin-left: 3%;
  
}
.dailypollheader1{
  color: black;
  font-weight: bold;
  font-size: 24px;
  margin-right: 50px;
  text-decoration-color: none;
  font-family: Kanit;
}
.topnav2{
  text-decoration: none;
  color: black;
  cursor: pointer;

}
.gotosection{
  cursor: pointer;
}
.dpleftmargin{
margin-left: 10vh;
}
</style>