<template>
<div class="body">
      <v-container class="container">
    <v-row >
      <v-col
        cols="12"
        sm="4"
      >
        <v-card id="rankcard-card"
          class="pa-2"
          outlined
          light
        >
         <h1 class="rank2">2</h1>
         <div class="phonenum">
{{all_phone[1]}}
         </div>
        </v-card>
      </v-col>
      <v-col
        cols="12"
        sm="4"
      >
        <v-card id="rankcard-card"
          class="pa-2"
          outlined
          light
        >
          <h1 class="rank1">1</h1>
          <div class="phonenum">
{{all_phone[0]}}
         </div>
        </v-card>
      </v-col>
      <v-col
        cols="12"
        sm="4"
      >
        <v-card id="rankcard-card"
          class="pa-2"
          outlined
          light
        >
          <h1 class="rank3">3</h1>
          <div class="phonenum">
{{all_phone[2]}}
         </div>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
  </div>
</template>
<style>
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
.container{
    width: 700px;
    text-align: center;
}
.phonenum{
    padding-top: 30px;
    height: 125px;
    text-align: center;
    font-family: Kanit;
    font-size: 20px;
}

.rank1{
margin-top: 40px;
font-family: Kanit;
color: gold;
font-size: 40px;
}
.rank2{
margin-top: 40px;
font-family: Kanit;
color: #22a6b3;
font-size: 40px;
}
.rank3{
margin-top: 40px;
font-family: Kanit;
color: #eb4d4b;
font-size: 40px;
}

#rankcard-card{
  border-radius: 15px;
  color: black;
  background-color: white;
}

</style>
<script>
const getPoll_URL = process.env.api_getPoll


export default {
    data() {
      return {
        all_phone : []
      }
    },
    components:{
        
    },
    async created(){
      this.initialize()
    },
    methods : {
      async initialize() {
        let res_data = await this.$axios.$get(getPoll_URL);
        //this.all_phone = res_data;
        
        for (let index = 0 ; index < res_data.length ;index ++) {
          this.all_phone.push(res_data[index].User_PhoneNum)
        }

        //let raw = this.all_phone.sort()

        let Set_ = {}

        for (let index_ = 0 ; index_ < this.all_phone.length ; index_++){
          let phonenum = this.all_phone[index_]

          if (phonenum in Set_) {
            Set_[phonenum] += 1
          } else {
            Set_[phonenum] = 1
          }
        }
        //console.log(Set_)
        
        
        //this.all_phone = [Set_].sort(function (a,b){ return b.value - a.value;  })
        let arr_ = []
        console.log(Set_)

        let sorted_key = Object.keys(Set_).sort(function (a,b){return Set_[b] - Set_[a]})
        this.all_phone = sorted_key
        console.log(sorted_key)
        /*
        for (const member in Set_) {
          //console.log(member + " " + Set_[member] )
          let obj = {}
          obj[member] = Set_[member]
          arr_.push(obj)
        }

        arr_.sort(function(a,b){
          return a[1] - b[1];
        })
        this.all_phone = arr_
        console.log(arr_)
        */
      }

    }
}
</script>