<template>
    <v-app-bar
      app
      color="white"
      height="100"
    >

      <v-toolbar-title class="dailypollheader" >
          <v-button class="gotosection"
                    align-self-end
                    @click="$vuetify.goTo('#wc2dp')">
 Daily Poll
      </v-button>
      </v-toolbar-title>

<v-spacer></v-spacer>
      <v-toolbar-title class="dailypollheader1" >
      <v-button class="gotosection"
                    align-self-end
                    @click="$vuetify.goTo('#about-us')">
เกี่ยวกับเดลี่โพลล์
      </v-button>
      </v-toolbar-title>

      <v-toolbar-title class="dailypollheader1" >
      <v-button class="gotosection"
                    align-self-end
                    @click="$vuetify.goTo('#mapsection')">
แผนที่
      </v-button>
      </v-toolbar-title>
       <v-toolbar-title class="dailypollheader1" >
      <v-button class="gotosection"
                    align-self-end
                    @click="$vuetify.goTo('#graph-user-section')">
เเดชบอร์ด
      </v-button>
      </v-toolbar-title>
      <v-toolbar-title class="dailypollheader1" >
        <v-button class="gotosection"
                    align-self-end
                    @click="$vuetify.goTo('#topratedpoll-section')">
โพลล์ยอดนิยม
      </v-button>
      </v-toolbar-title>
      <v-toolbar-title class="dailypollheader1" >
        <div class="textdeconone">
          <a href="/login" class="none-textdeco"><v-text class="topnav2">  Login </v-text></a>
        </div>
      </v-toolbar-title>
    </v-app-bar>
</template>
<script>

import topnav from '@/components/topnav.vue'
export default {
    components:{
        topnav

    }
}
</script>
<style>

@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.dailypollheader{
  color: black;
  font-weight: bold;
  font-size: 26px;
  font-family: Kanit;
  margin-left: 3%;
  
}
.dailypollheader1{
  color: black;
  font-weight: bold;
  font-size: 24px;
  margin-right: 50px;
  text-decoration: none;
  font-family: Kanit;
}

.topnav2{
  text-decoration: none;
  color: black;
  cursor: pointer;

}
.gotosection{
  cursor: pointer;
}
.none-textdeco{
  text-decoration: none;
}
.dpleftmargin{
margin-left: 10vh;
}


</style>