<template>
<div class="body">
  <v-container class="container">
    <v-row>
      <v-col
        cols="12"
        sm="4"
      >
        <div id="toppoll-card">
         <h1 class="rank2">2</h1>
         <v-text class="topic">{{card_2["Que_Title"]}}</v-text>
         <v-spacer></v-spacer>
         <v-text class="sub-header1">ถามโดย : 
            <v-text v-if="card_2['writer']">
              {{card_2["writer"]}}
            </v-text>
            <v-text v-else>
              ยังไม่มีข้อมูล
            </v-text>
          </v-text>

        <div class="sub-header1">
            <v-text class="font">จำนวนผู้ตอบ : 
              <v-text class="numcount">
                <v-text v-if="card_2['Vote_amount']">{{card_2["Vote_amount"]}}</v-text>
                <v-text v-else> ยังไม่มีข้อมูล</v-text>
              </v-text>
            </v-text>
        </div>
        
<div class="sum-data-container">
      <v-row>
        <div>
          <v-col>
            <div class="green-tile"></div>
            <div class="yellow-tile"></div>
            <div class="red-tile"></div>
          </v-col>
        </div> 
         <div>
          <v-col>
            <p class="rank-score-text">ดีมาก</p>
            <p class="rank-score-text">เฉยๆ</p>
            <p class="rank-score-text">เเย่</p>
          </v-col>
        </div> 
        <div>
          <v-col>
            <p class="rank-percent-text">{{card_2_score.good}}%</p>
            <p class="rank-percent-text">{{card_2_score.moderate}}%</p>
            <p class="rank-percent-text">{{card_2_score.bad}}%</p>
          </v-col>
        </div> 
  <div class="additional-details-container">
        <v-row>
          <p >
            {{card_2["Que_Text"]}}
          </p>
        </v-row>
      </div>
      </v-row>
</div>
              <div class="space"></div>
         </div>

      </v-col>
      <v-col
        cols="12"
        sm="4"
      >
        <div id="toppoll-card">
         <h1 class="rank1">1</h1>

         <v-text class="topic">{{card_1["Que_Title"]}}</v-text>
         <v-spacer></v-spacer>

          <v-text class="sub-header1">ถามโดย : 
            <v-text v-if="card_1['writer']">
              {{card_1["writer"]}}
            </v-text>
            <v-text v-else>
              ยังไม่มีข้อมูล
            </v-text>
          </v-text>

        <div class="sub-header1">
            <v-text class="font">จำนวนผู้ตอบ : 
              <v-text class="numcount">
                <v-text v-if="card_1['Vote_amount']">{{card_1["Vote_amount"]}}</v-text>
                <v-text v-else> ยังไม่มีข้อมูล</v-text>
              </v-text>
            </v-text>
        </div>
        
<div class="sum-data-container">
      <v-row>
        <div>
          <v-col>
            <div class="green-tile"></div>
            <div class="yellow-tile"></div>
            <div class="red-tile"></div>
          </v-col>
        </div> 
         <div>
          <v-col>
            <p class="rank-score-text">ดีมาก</p>
            <p class="rank-score-text">เฉยๆ</p>
            <p class="rank-score-text">เเย่</p>
          </v-col>
        </div> 
        <div>
          <v-col>
            <p class="rank-percent-text">{{card_1_score.good}}%</p>
            <p class="rank-percent-text">{{card_1_score.moderate}}%</p>
            <p class="rank-percent-text">{{card_1_score.bad}}%</p>
          </v-col>
        </div>
         <div class="additional-details-container">
        <v-row>
          <p>
            {{card_1["Que_Text"]}}
          </p>
        </v-row>
      </div>
      </v-row>
</div>
         <div class="space"></div>
         </div>
         
      </v-col>
      <v-col
        cols="12"
        sm="4"
      >
        <div id="toppoll-card">
         <h1 class="rank3">3</h1>
         <v-text class="topic">{{card_3["Que_Title"]}}</v-text>
         <v-spacer></v-spacer>
         <v-text class="sub-header1">ถามโดย : 
            <v-text v-if="card_3['writer']">
              {{card_3["writer"]}}
            </v-text>
            <v-text v-else>
              ยังไม่มีข้อมูล
            </v-text>
          </v-text>

        <div class="sub-header1">
            <v-text class="font">จำนวนผู้ตอบ : 
              <v-text class="numcount">
                <v-text v-if="card_3['Vote_amount']">{{card_3["Vote_amount"]}}</v-text>
                <v-text v-else> ยังไม่มีข้อมูล</v-text>
              </v-text>
            </v-text>
        </div>
        
<div class="sum-data-container">
      <v-row>
        <div>
          <v-col>
            <div class="green-tile"></div>
            <div class="yellow-tile"></div>
            <div class="red-tile"></div>
          </v-col>
        </div> 
         <div>
          <v-col>
            <p class="rank-score-text">ดีมาก</p>
            <p class="rank-score-text">เฉยๆ</p>
            <p class="rank-score-text">เเย่</p>
          </v-col>
        </div> 
        <div>
          <v-col>
            <p class="rank-percent-text">{{card_3_score.good}}%</p>
            <p class="rank-percent-text">{{card_3_score.moderate}}%</p>
            <p class="rank-percent-text">{{card_3_score.bad}}%</p>
          </v-col>
        </div> 
        <div class="additional-details-container">
        <v-row>
          <p>
            {{card_3["Que_Text"]}}
          </p>
        </v-row>
      </div>
      </v-row>
</div>
         <div class="space"></div>
         </div>
         
      </v-col>
      
    </v-row>
    
    
  </v-container>
  </div>
</template>
<style>
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
.container{
    width: 1200px;
    text-align: center;
}
.topic{
    text-align: center;
    font-family: Kanit;
    font-size: 20px;
}
.space{
margin-bottom: 30px;
}
.rank1{
margin-top: 20px;
font-family: Kanit;
color: gold;
font-size: 40px;
}
.rank2{
margin-top: 20px;
font-family: Kanit;
color: #22a6b3;
font-size: 40px;
}
.rank3{
margin-top: 20px;
font-family: Kanit;
color: #eb4d4b;
font-size: 40px;
}
.font{
    font-family: Kanit;
}  
.sub-header1{
  font-family: Kanit;
  color: black;
  text-align: center;
}
#toppoll-card{
  background-color: white;
  color: black;
  border-radius: 15px;
  height: 100%;
  padding-top: 7px;
}
.sum-data-container{
  margin-left: 20px;
  margin-top: 10px;
  padding: 13px;
}

.additional-details-container{
  width: 156px;
  height: 140px;
  margin-top: 10px;
  font-family: Kanit;
  text-align: center;
  padding: 13px;
}
.rank-score-text{
  font-family: Kanit;
  text-align: left;
  margin-bottom: 15px;
}


.rank-percent-text{
  font-family: Kanit;
  text-align: right;
  margin-bottom: 15px;
}
.green-tile{
  background-color: #017519;
  width: 35px;
  height: 35px;
  
}
.yellow-tile{
  background-color: #F5BD06;
  width: 35px;
  height: 35px;
  
}
.red-tile{
  background-color: red;
  width: 35px;
  height: 35px;
  
}
</style>

<script>
//import toppoll from '@/components/toppoll.vue'
import axios from '@nuxtjs/axios'

const getQuestion_URL = process.env.api_getQuestion
const getPoll_URL = process.env.api_getPoll

export default {
  data () {
    return {
      toppoll_data : [],
      card_1 : [],card_2 : [],card_3 : [],
      card_1_score : {
        good : 0,
        moderate : 0,
        bad : 0
      },
      card_2_score : {
        good : 0,
        moderate : 0,
        bad : 0
      },
      card_3_score : {
        good : 0,
        moderate : 0,
        bad : 0
      },
    }
  },
  components:{
    //toppoll
  },
  async created() {
    this.initialize()
  },
  methods : {
    async initialize() {
      
        
        let res_question = await this.$axios.$get(getQuestion_URL);
        let res_poll = await this.$axios.$get(getPoll_URL);

        if ((res_question.length != 0) && (res_poll != 0)){
          res_question = res_question.sort(function(a,b){ return b - a;  })
          
          this.toppoll_data = res_question
          this.card_1 = this.toppoll_data[0]
          this.card_2 = this.toppoll_data[1]
          this.card_3 = this.toppoll_data[2]

          let prepared_1 = res_poll.filter( (res_poll_item) => res_poll_item.Que_ID == this.card_1.Que_ID )
          let prepared_2 = res_poll.filter( (res_poll_item) => res_poll_item.Que_ID == this.card_2.Que_ID )
          let prepared_3 = res_poll.filter( (res_poll_item) => res_poll_item.Que_ID == this.card_3.Que_ID )

          //console.log(res_poll)

          let obj_score_1 = this.computedScore(prepared_1)
          let obj_score_2 = this.computedScore(prepared_2)
          let obj_score_3 = this.computedScore(prepared_3) 

          this.card_1_score = obj_score_1
          this.card_2_score = obj_score_2
          this.card_3_score = obj_score_3

          return this.toppoll_data
        } else {
          this.toppoll_data = [{
            "Que_ID": 1,
            "Que_Text": "Curabitur at ipsum ac tellus semper interdum.",
            "Que_Title": "Research Assistant I",
            "category": "Glass & Glazing",
            "writer": "Randee Kenton",
            "Que_timestamp": "11/26/2021",
            "Vote_amount": 1
          }, {
            "Que_ID": 2,
            "Que_Text": "Praesent id massa id nisl venenatis lacinia. Aenean sit amet justo. Morbi ut odio.",
            "Que_Title": "Senior Developer",
            "category": "Curb & Gutter",
            "writer": "Salem Whybray",
            "Que_timestamp": "11/20/2021",
            "Vote_amount": 2
          }, {
            "Que_ID": 3,
            "Que_Text": "In est risus, auctor sed, tristique in, tempus sit amet, sem. Fusce consequat.",
            "Que_Title": "Programmer II",
            "category": "Elevator",
            "writer": "Janessa Commuzzo",
            "Que_timestamp": "7/4/2021",
            "Vote_amount": 3
          }, {
            "Que_ID": 4,
            "Que_Text": "In eleifend quam a odio. In hac habitasse platea dictumst.",
            "Que_Title": "Account Coordinator",
            "category": "Structural & Misc Steel Erection",
            "writer": "Clint Chiddy",
            "Que_timestamp": "4/8/2021",
            "Vote_amount": 4
          }, {
            "Que_ID": 5,
            "Que_Text": "In hac habitasse platea dictumst. Maecenas ut massa quis augue luctus tincidunt. Nulla mollis molestie lorem.",
            "Que_Title": "Editor",
            "category": "Hard Tile & Stone",
            "writer": "Sven MacGille",
            "Que_timestamp": "1/23/2021",
            "Vote_amount": 5
          }]
          return this.toppoll_data
        }
        

    },
    computedScore(prepare_data) {

      let total_amount = prepare_data.length
      let good_amount = prepare_data.filter( ( prep ) => prep['React_feeling'] == 3 ).length;
      let moderate_amount = prepare_data.filter( ( prep ) => prep['React_feeling'] == 2 ).length;
      let bad_amount = prepare_data.filter( ( prep ) => prep['React_feeling'] == 1 ).length;

      if(good_amount || moderate_amount || bad_amount){
        return {
          good : Math.round(((good_amount / total_amount)*100)),
          moderate : Math.round(((moderate_amount / total_amount)*100)),
          bad : Math.round(((bad_amount / total_amount)*100))
        }
      } else {
        return {
          good : good_amount,
          moderate : moderate_amount,
          bad : bad_amount
        }
      }

    }
  }
}
</script>