<template>

      <v-data-table
      data-app
      id="mng_div"
      :headers="headers"
      :items="desserts"
      sort-by="am_id"
      class="elevation-1"
    >
      <template v-slot:top>
        <v-toolbar
        color=" #1383F9"
          flat
        >
          <v-toolbar-title >รายชื่อคนในระบบ</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-divider
            class="mx-4"
            inset
            vertical
          ></v-divider>
          <v-spacer></v-spacer>
          <v-dialog 
            v-model="dialog"
            max-width="500px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                color="#0089FA"
                dark
                class="mb-2"
                v-bind="attrs"
                v-on="on"
              >
                กดเพื่อเพิ่มคนในระบบ
              </v-btn>
            </template>

            <v-card>
              <v-card-title>
                <span class="text-h5" >{{ formTitle }}</span>
              </v-card-title>

              <v-card-text>
                <v-container>
                  
                    <!--
                    <v-col
                      cols="12"
                      sm="6"
                      md="4"
                    >
                      <v-text-field
                        v-model="editedItem.am_id"
                        label="Id"
                      ></v-text-field>
                    </v-col>
                    -->
                    
                    <v-col
                      cols="12"
                      sm="6"
                      md="4"
                    >
                      <v-text-field 
                        v-model="editedItem.am_username"
                        label="Username"
                        
                      ></v-text-field>
                    </v-col>

                    <v-col
                      cols="12"
                      sm="6"
                      md="4"
                    >
                      <v-text-field 
                        v-model="editedItem.am_password"
                        label="Password"
                      ></v-text-field>
                    </v-col>

                    <v-col
                      cols="12"
                      sm="6"
                      md="4"
                    >
                      <v-select 
                        :items="role_choice"
                        label="Role"
                        v-model="editedItem.am_role"
                      ></v-select>
                      
                    </v-col>
                    
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  
                  color="blue darken-1"
                  text
                  @click="close"
                >
                  กดเพื่อปิดหน้าต่าง
                </v-btn>
                <v-btn
                  
                  color="blue darken-1"
                  text
                  @click="save"
                >
                  กดเพื่อบันทึก
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title >จะลบข้อมูลนี้หรือไม่</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="closeDelete" >ยกเลิก</v-btn>
                <v-btn color="blue darken-1" text @click="deleteItemConfirm" >ลบ</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template  v-slot:item.actions="{ item }">
        <v-icon
          small
          class="mr-2"
          @click="editItem(item)"
        >
          mdi-pencil
        </v-icon>
        <v-icon
          small
          @click="deleteItem(item)"
        >
          mdi-delete
        </v-icon>
      </template>
      
      </v-data-table>
    
  
</template>
<script>

const getAdminMng_URL = process.env.api_getAdminMng
const postAdminMng_URL = process.env.api_postAdminMng
const putAdminMng_URL = process.env.api_putAdminMng
const deleteAdminMng_URL = process.env.api_deleteAdminMng

  export default {
    data: () => ({
      dialog: false,
      dialogDelete: false,
      headers: [
        {
          text: 'Id',
          align: 'start',
          sortable: true,
          value: 'am_id',
        },
        { text: 'Username', value: 'am_username' },
        { text: 'Password', value: 'am_password' },
        { text: 'Role', value: 'am_role' },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
      desserts: [],
      role_choice : ["manager"],
      editedIndex: -1,
      editedItem: {
        am_id: '',
        am_username: '',
        am_password: '',
        am_role: '',
      },
      defaultItem: {
        am_id: '',
        am_username: '',
        am_password: '',
        am_role: '',
      },
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'กรุณากรอกรายละเอียดคนในระบบท่านใหม่' : 'แก้ไขรายละเอียดคนในระบบ'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    async created () {
      this.initialize()
    },

    methods: {
      async initialize () {
        let get_AdminMng_json = await this.$axios.$get(getAdminMng_URL);
        
        
        if (get_AdminMng_json) {
          this.desserts = get_AdminMng_json
        } else {
          this.desserts = [{
            "am_id": 1,
            "am_username": "bleyman0",
            "am_password": "zcCzZIVvBvD",
            "am_role": "Construction Foreman"
          }, {
            "am_id": 2,
            "am_username": "aduckerin1",
            "am_password": "yDpbBYcf4Vn",
            "am_role": "Construction Foreman"
          }, {
            "am_id": 3,
            "am_username": "msmithe2",
            "am_password": "hqfQC3d1vy",
            "am_role": "Architect"
          }, {
            "am_id": 4,
            "am_username": "kchalles3",
            "am_password": "9G379jU3",
            "am_role": "Surveyor"
          }, {
            "am_id": 5,
            "am_username": "mcamelli4",
            "am_password": "KScgFCvQ3P",
            "am_role": "Construction Manager"
          }, {
            "am_id": 6,
            "am_username": "cbatting5",
            "am_password": "O7apcHVT3",
            "am_role": "Engineer"
          }, {
            "am_id": 7,
            "am_username": "vcollingworth6",
            "am_password": "lJIxMHDT94C",
            "am_role": "Engineer"
          }, {
            "am_id": 8,
            "am_username": "alouder7",
            "am_password": "6ioEupyvv",
            "am_role": "Electrician"
          }, {
            "am_id": 9,
            "am_username": "ccarreck8",
            "am_password": "vFIXGS1DI0",
            "am_role": "Engineer"
          }, {
            "am_id": 10,
            "am_username": "pmellonby9",
            "am_password": "MVzFBz3UZ",
            "am_role": "Construction Foreman"
          }, {
            "am_id": 11,
            "am_username": "cughinia",
            "am_password": "qQHpWuUgHyou",
            "am_role": "Surveyor"
          }]
        }
      },

      editItem (item) {
        this.editedIndex = this.desserts.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        this.editedIndex = this.desserts.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },

      deleteItemConfirm () {
        this.desserts.splice(this.editedIndex, 1)
        let am_ID = (this.editedIndex + 1)
        this.$axios.$delete(deleteAdminMng_URL + am_ID)
        this.closeDelete()
        
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.desserts[this.editedIndex], this.editedItem)
          let am_ID = (this.editedIndex + 1)

          this.$axios.$put(putAdminMng_URL+am_ID,this.editedItem)
        } else {
          this.editedItem.am_id = (this.desserts.length + 1)
          this.desserts.push(this.editedItem)
          this.$axios.$post(postAdminMng_URL,this.editedItem)
        }
        this.close()
      },
    },
  }

 
</script>
<style>
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');


#mng_div {
  font-family : 'Kanit', sans-serif;
  text-align: center;
}
.global-font{
  font-family: 'Kanit', sans-serif;
}


</style>