<template>
  <div id="app">
  <v-app>
<topnav />
    <v-main>
      <section id="wc2dp">
        <v-row no-gutters>
          <v-img
            :min-height="'calc(100vh - ' + $vuetify.application.top + 'px)'"
            src="https://images.unsplash.com/photo-1633809399177-09eb7d4462c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
          > 
              <v-container class="textcontainer">
                <v-row
                  align="center"
                  class="white--text mx-auto"
                  justify="center"
                >
                  <v-col
                    class="white--text text-center"
                    cols="12"
                    tag="h1"
                  >
                    <span 
                    :class="[$vuetify.breakpoint.smAndDown ? 'display-1' : 'display-2']"
                      class=" text--darken-1 font-weight-bold" 
                    >
                    <v-text class="welcometitle">ยินดีต้อนรับสู่</v-text>
                    </span>
                    <br>
                    <span
                      :class="[$vuetify.breakpoint.smAndDown ? 'display-3': 'display-4']"
                      class=" text--darken-1 font-weight-bold"
                    >
                      <div class="welcometitle">Daily Poll</div>
                    </span>
                  </v-col>
                 
                </v-row>
              </v-container>
            
          </v-img>
        </v-row>
      </section>

<section id="about-us">
        <div class="py-12"></div>

        <v-container class="text-center">
          <h2 class="display-2 font-weight-bold mb-3"><v-text class="blue-gradient-text">" เกี่ยวกับเดลี่โพลล์ "</v-text></h2>

          <v-responsive
            class="mx-auto mb-8"
            width="56"
          >
            <v-divider class="mb-1"></v-divider>

            <v-divider></v-divider>
          </v-responsive>

          <v-responsive
            class="mx-auto title font-weight-light mb-8"
            max-width="720"
          >
          <v-text class="kanitfont">เดลี่โพลล์ คือเเพลทฟอร์ม ที่เเสดงความรู้สึกของความรู้สึกของผู้ใช้เกี่ยวกับหัวข้อในเเต่ละพื่นที่ ซึ่งในหัวข้อของเเต่ละพื่นที่นั้นจะเเสดงว่าคนส่วนใหญ่นั้นรู้สึกอย่างไรเกี่ยวกับหัวข้อที่ตั้งเอาไว้</v-text>
          </v-responsive>
          <div></div>

        </v-container>

        <div class="py-12"></div>
      </section>
      

      <!-- MAP -->
      <section id="mapsection">
        <v-parallax
          :height="$vuetify.breakpoint.smAndDown ? 700 : 700"
          style="z-index : 1"
          src="https://images.unsplash.com/photo-1541373786058-cb19632f97fd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
        > 
        <v-row>
          <v-col cols="3">
            <div class="map-section-text">แผนที่ </div>
          </v-col>
        <!-- <v-spacer></v-spacer> -->
          <v-col cols="9" class="showmap">
            <ShowMap/>
          </v-col>

                  <!---
          <div class="mapalign" >
            <iframe src="https://www.atlistmaps.com/map/0125824d-18c3-4245-9207-254b9366ce18?share=true" allow="geolocation" width="1100" height="550px" frameborder="0" scrolling="no" allowfullscreen></iframe>
          </div>        --->
        </v-row>

          <v-container fill-height>
            <v-row class="mx-auto">
              <v-col
                cols="12"
                md="3"
              >
                <div class="text-center">
                  <div
                    class="display-3 font-weight-black mb-4"
                    
                  ></div>
                  <div class="title font-weight-regular text-uppercase"
  
                  ></div>
                </div>
              </v-col>
            </v-row>
          </v-container>
        </v-parallax>
      </section>

 <section id="graph-user-section">
<v-parallax          
          :height="$vuetify.breakpoint.smAndDown ? 700 : 700"
          src=""> 
          <div class="graph-section-text">ข้อมูลการมีส่วนร่วมของผู้ใช้</div>
           <v-container fill-height>
    <v-row >
      <v-col>
       <div class="iframe-container">
    <iframe width="60%" height="529" src="https://datastudio.google.com/embed/reporting/a9d954da-db10-40da-83b8-967d21e19a30/page/2tnfC" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
      </v-col>
    </v-row>
    </v-container>
  </v-parallax>
</section>

<section id="topratedpoll-section">
<v-parallax          
          :height="$vuetify.breakpoint.smAndDown ? 700 : 700"
          src="https://images.unsplash.com/photo-1588421357574-87938a86fa28?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80"> 
       <div class="section-text">โพลล์ยอดนิยม</div>
          <v-container fill-height>
            <v-row class="mx-auto">
              <v-col
                cols="12"
                md="3"
              >
              <div class="rc-2">
          <toppoll />
            </div>
                <div class="text-center">
                  <div
                    class="display-3 font-weight-black mb-4"
                    
                  ></div>
                  <div
                    class="title font-weight-regular text-uppercase" 
                  ></div>
                </div>
              </v-col>
            </v-row>
          </v-container>
        </v-parallax>
</section>
    </v-main>
    <v-footer
      class="justify-center"
      color="#292929"
      height="100"
    >
      <div class="title font-weight-light grey--text text--lighten-1 text-center">
        &copy; {{ (new Date()).getFullYear() }} 
         Daily Poll Team
      </div>
    </v-footer>
  </v-app>
 </div>
</template>

<script>

import rankcard from '@/components/rankcard.vue'
import topnav from '@/components/topnav.vue'
import toppoll from '@/components/toppoll.vue'
import ShowMap from "../components/googlemap/showMap.vue"

export default {
  components:{
        topnav,
        rankcard,
        toppoll,
        ShowMap
    }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.showMap {
  overflow: visible;
  height: 100%;
  
}



.dailypolltopnav{
  text-decoration: none;
  cursor: default;
}
.gotoaboutus{
  margin-top: 50px;
}
.map-section-text{
font-size: 42px;
font-weight: bolder;
text-align: left;
padding-top: 300px;
padding-left: 100px;
font-family: Kanit;
}
.section-text{
font-size: 42px;
font-weight: bolder;
padding-top: 3%;
text-align: center;
font-family: Kanit;
color: white;
}
.graph-section-text{
font-size: 42px;
font-weight: bolder;
padding-top: 3%;
text-align: center;
font-family: Kanit;
color: #1383F9;
}
.mapalign{
padding-right: 100px;
padding-top: 75px;
}
.welcometitle{
  font-family: Kanit;
  color: white;
}
/* พื้นหลังAbout us */
#about-us{
  background-color: #343742;
  height: 100vh;
  padding-top: 175px;
}
/* พื้นหลังmap */
#mapsection{
background-color: #343742;
}

#graph-user-section{
background-color: #343742;
}
/* top rated poll */
#topratedpoll-section{
background-color: #343742;
}


.red-gradient-text{
  font-family: Kanit;
  background: -webkit-linear-gradient( #EF233C, #EF233C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.blue-gradient-text{
  font-family: Kanit;
  background: -webkit-linear-gradient( #1383F9, #1383F9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grey-gradient-text{
  font-family: Kanit;
  background: -webkit-linear-gradient( #8D99AE, #E4E4F4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.textcontainer{
  margin-top: 17%;
}
.kanitfont{
  font-family: Kanit;
}
.robotofont{
  font-family: Roboto;
}


/* iframecontainer */
.iframe-container{
  text-align: center;
}

</style>



