<template>
  <div class="bg">
    <v-main>
      <div >
        <v-container>
          <div class="">
            <p class="dp-header-text">Daily Poll</p>
            <div class="login-section-bg">
                <p class="login-header-text">Login</p>
                <p class="spacer1"></p>
                
                <input v-model="username" type="text" name="username" class="account-input-box" placeholder="Username" />
                
                <p class="spacer1"></p>
                <input v-model="password" type="password" name="password" class="account-input-box" placeholder="Password" />
                
                <p class="spacer1"></p>
                <v-btn id="loginbut"
                  width="220px"
                  height="45px"
                  :color="primary"
                  elevation="4"
                  @click="authenticate"
                >LOGIN</v-btn>
            </div>
          </div>
        
          <v-dialog
            v-model="dialog_no_user"
            max-width="500px"
          >
            <v-card>
              <v-card-title>
                <span>ท่านกรอกข้อมูลไม่ถูกต้อง กรุณาตรวจสอบ</span>
                <v-spacer></v-spacer>
                
              </v-card-title>
              <v-card-actions>
                <v-btn
                  color="primary"
                  text
                  @click="dialog_no_user = false"
                >
                  ปิด
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <v-dialog
                v-model="dialog2"
                max-width="500px"
              >
                <v-card>
                  <v-card-title>
                    <span>ท่านยังกรอกข้อมูลไม่สมบูรณ์</span>
                    <v-spacer></v-spacer>
                    
                  </v-card-title>
                  <v-card-actions>
                    <v-btn
                      color="primary"
                      text
                      @click="dialog2 = false"
                    >
                      ปิด
                    </v-btn>
                  </v-card-actions>
                </v-card>
          </v-dialog>
        </v-container>
      </div>
    </v-main>
    

   <div class="footer">
    <strong>@Daily Poll</strong> — {{ new Date().getFullYear() }} — 
   </div>
  
  </div>
  
</template>
<style>
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');



.bg{
background-color: #343742;

  width: 100%;
  height: 100vh;
}
.dp-header-text{
font-family: Kanit;
font-size: 36px;
font-weight: bolder;
color: white;

margin-top: 5%;
margin-bottom: 5%;

text-align: center;
}
.login-header-text{
font-family: Kanit;
font-size: 28px;
font-weight: bolder;



text-align: center;
}

.login-section-bg{
  background-color: white;
  border-radius: 25px;
  width: 30%;

  margin: auto;
  
  padding-top: 20px;
  padding-bottom: 40px;

  justify-content: center;
}
.account-input-box{
  background-color: #1383F9;
  color: #E4E4F4;
  font-family: Kanit;
  padding: 12px;
  border-width: 10px;
  
  border-radius: 3px;
  border: 5px black;
}
::placeholder{
  color: white;
  font-family: Kanit;
}

/* ปุ่มlogin */
.login-form-button{
  color: white;
  border-radius: 3px;
  background-color: #343742;
  padding: 15px;
  width: 219px;
  font-family: Kanit;
}
.spacer1{
  padding-top: 30px;
}
.footer{
  font-family: Kanit;
  text-align: center;
  background-color: none;
  color: white;
  padding-top: 10%;
  
  text-decoration: none;
}
#loginbut{
background: rgb(19,131,249);
background: linear-gradient(90deg, rgba(19,131,249,1) 0%, rgba(52,58,117,1) 100%);
font-family: Kanit;
color: white;

}
</style>
<script>

const getAdminMng_URL  = process.env.api_getAdminMng

export default {
  data : () => {
    return {
      data_user : [],
      username : '',
      password : '',
      dialog_no_user : false,
      dialog2 : false
    }
  },
  async created () {
    this.init();
  },
  methods : {
    async init() {
      let res = await this.$axios.$get(getAdminMng_URL)
      this.data_user = res
    },
    authenticate() {

      if ( this.username && this.password ){
        let user = this.data_user.filter( (obj) => obj.am_username == this.username )
        let user_exist = user.length
        
        if (user_exist == 1) {
          let pass = user.filter( (obj) => obj.am_password == this.password )
          let pass_exist = pass.length
          if ( pass_exist ) {
            alert("เข้าสู่ระบบสำเร็จ")
            this.$router.push({ path: '/Mmain' })
          } else {
            alert("รหัสผ่านหรือชื่อผู้ใช้ผิดพลาด")
          }

        } else {
          alert("ไม่มีบัญชีผู้ใช้นี้")
          this.dialog_no_user = true
        }

      } else {
        alert("คุณยังไม่ใส่ข้อมูล")
        this.dialog2 = true
      }

    }

  }

}
</script>