<template>
    <div>
        <Mtopnav />  
<v-main>
    <section id="Mmap-section">
        <v-parallax
          :height="$vuetify.breakpoint.smAndDown ? 700 : 700"
          src="https://images.unsplash.com/photo-1541373786058-cb19632f97fd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"> 
           <v-container >
            <v-row class="mx-auto">
              <v-col>
                <v-col>
                 <ShowMap/>
                </v-col>
              </v-col>
            </v-row>
          </v-container>
        </v-parallax>
      </section>

  

<section id="Mcreatepoll-section">
<v-parallax          
          :height="$vuetify.breakpoint.smAndDown ? 700 : 700"
          src=""> 
          <v-container fill-height>
            <v-row class="mx-auto">
              <v-col>  
          <Mcreatepoll />
              </v-col>
            </v-row>
            
          </v-container>
          
        </v-parallax>
        <!-- <v-footer
      color="#292929"
      height="100"
    >
      <div class="credit1">
        &copy; {{ (new Date()).getFullYear() }} 
         Daily Poll Team
      </div>
    </v-footer> -->
</section>



<section id="Mmanage-account-section">
  <v-container class="Mmanage-account-container" :aspect-ratio="16/9">
    <div class="header-text-black">จัดการบัญชี</div>
      <v-row id="component_role">
          <v-col>
              <MngRole/>
          </v-col>
      </v-row>
  </v-container>
</section>

    <section id="Mtopratedpoll-section">
<v-parallax          
          :height="$vuetify.breakpoint.smAndDown ? 700 : 700"
          src=""> 
           <v-container class="container">
    <v-row >
      <v-col>
        <div class="Mmainsectiontext">โพลล์ยอดนิยม</div>
       <toppoll />
      </v-col>
    </v-row>
    </v-container>
  </v-parallax>
</section>

<section id="dashboard-section" fill-height>
  <v-container class="overlay-container-1" :aspect-ratio="16/9">
  <div class="overlay-container-2">
<v-row>
  <v-text class="dashboard-header-text">เเดชบอร์ด</v-text>
    <v-spacer></v-spacer>
      <v-spacer></v-spacer>
         <v-col>
            <v-select
                :items="choice_poll"
                v-model="choice_poll_value"
                label="เลือกหมวดหมู่ของโพล"
                solo
                dense
                v-on:change="filterHandle"
              ></v-select>
          </v-col>
        <!--
          <select id="category-overlay" >
         <OPtion value="1" selected>อากาศ</OPtion>
         <OPtion value="2">ทั่วไป</OPtion>
         <OPtion value="3">ชีวิตประจำวัน</OPtion>
         <OPtion value="4">อื่นๆ</OPtion>
         </select>
         -->
      
</v-row>
  <v-col>
    <v-row>

      <v-container fluid>
        <v-row scrollable dense>
          <v-col
            v-for="card in filtered_data"
            :key="card.Que_ID"
            :cols="4"
          >
          <template>
            
              <template >
                <v-card>
                    <div style="color: white;">
                      <v-card-title v-text="card.Que_Title" style="background-color: #1383F9;"></v-card-title>
                    </div>
                    <v-spacer></v-spacer>
                    <v-card-subtitle v-text="card.Que_Text"></v-card-subtitle>

                    <div class="dashboard-card-score">
                      <Dashboard_score_component :que_id="card.Que_ID"/>
                    </div>

                </v-card>
              </template>
            
          </template>
          
        </v-col>
        </v-row>
      </v-container>
                <!--
                    <v-overlay
                      :z-index="zIndex"
                      :value="overlay"
                    >
                      <template>
                        <v-card>
                          <Overlay :que_title="card.Que_Title" :que_id="card.Que_ID" />
                          <v-btn
                            class="white--text"
                            color="teal"
                            @click="overlay = false"
                          >
                            Hide Overlay
                          </v-btn>
                        </v-card> 
                      </template>
                    </v-overlay>
                    -->
      <!-- 
        [ { "Que_ID": 6, "Que_Text": "new details 001", "Que_Title": "new topic 001", "category": "place(s)", "writer": "new writer_name 001", "Que_timestamp": "2021-11-28T21:02:30.000Z", "Vote_amount": 1 }, { "Que_ID": 7, "Que_Text": "new details 00111", "Que_Title": "new topic 001", "category": "place(s)", "writer": "new writer 001", "Que_timestamp": "2021-11-28T21:34:33.000Z", "Vote_amount": 1 } ]
      -->
      <!--
   <Overlay />
   <v-spacer></v-spacer>
   <Overlay />
   <v-spacer></v-spacer>
   <Overlay />
   <v-spacer></v-spacer>
   <Overlay />
   -->
    </v-row>
  </v-col>
   </div>
  </v-container>
</section>

</v-main>

    </div>
</template>
<script>
import MngRole from '../components/mngAccount_component/mng_role.vue'
import toppoll from '@/components/toppoll.vue'
import rankcard from '@/components/rankcard.vue'
import Mtopnav from '@/components/Mtopnav.vue'
import Mcreatepoll from '@/components/Mcreatepoll'
import ShowMap from "../components/googlemap/showMap.vue"
import Dashboard_score_component from "../components/dashboard_component/dashboard_score_component.vue"

const getPoll_URL = process.env.api_getPoll
const getQuestion_URL = process.env.api_getQuestion

export default {

  data:()=>{
    return{
      data_:[],
      choice_poll : ["weather","general","political","other(s)","place(s)","all"],//['อากาศ','ทั่วไป','ชีวิตประจำวัน','อื่นๆ'],
      choice_poll_value : null,
      list_data : [],
      filtered_data : [],
      cards: [
        { title: 'Pre-fab homes', src: 'https://cdn.vuetifyjs.com/images/cards/house.jpg', flex: 12 },
        { title: 'Favorite road trips', src: 'https://cdn.vuetifyjs.com/images/cards/road.jpg', flex: 6 },
        { title: 'Best airlines', src: 'https://cdn.vuetifyjs.com/images/cards/plane.jpg', flex: 6 },
      ],
      unfiltered_data : [],
      overlay_data : []
    }

  },
  components:{
        Mtopnav,
        Mcreatepoll,
        rankcard,
        toppoll,
        ShowMap,
        MngRole,
        Dashboard_score_component
    },
    async created() {
      this.init();
    },
    methods : {
      async init() {
        let obj_get = await this.$axios.$get(getPoll_URL)
        let obj_get_question = await this.$axios.$get(getQuestion_URL)
        //this.data_ = obj_get
        this.unfiltered_data = obj_get_question
        for (const obj of obj_get) {
          this.data_.push(obj["React_feeling"])
        }
        this.list_data = obj_get.concat(obj_get_question);

        let amount = this.data_.length

          this.num1 += this.data_.filter( (dt) => { return dt === 1 } ).length;
          this.num2 += this.data_.filter( (dt) => { return dt === 2 } ).length;
          this.num3 += this.data_.filter( (dt) => { return dt === 3 } ).length;

            this.num1 = (this.num1 / amount) * 100
            this.num2 = (this.num2 / amount) * 100
            this.num3 = (this.num3 / amount) * 100  

              this.num1 = this.num1.toFixed(2)
              this.num2 = this.num2.toFixed(2)
              this.num3 = this.num3.toFixed(2)

        //this.filtered_data = this.list_data.filter( (list_obj) => list_obj.category == "weather")//this.choice_poll_value )
        return this.data_;
      },

      filterHandle () {
        let choice = this.choice_poll_value
        if ( choice ) {
          if ( choice != "all") {
            this.filtered_data = this.list_data.filter( (_obj_) => _obj_["category"] == choice )
          } else if ( choice == "all" ) {
            this.filtered_data = this.unfiltered_data
          }
        }  
      },

      overlay_data_takein (card_id,card_title) {
        this.overlay_data[0] = card_id
        this.overlay_data[1] = card_title
      }

    }
}
</script>
<style>
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
.welcometitle{
    color: white;
    font-family: Kanit;
    font-size: 32px;
    cursor: default;
}
.credit1{ 
  color: grey;
  margin: auto;
  font-family: Kanit;
  cursor: default;
}
.Mmainsectiontext{
  padding-bottom: 20px;
  font-size: 40px;
  font-family: Kanit;
  text-decoration: none;
  cursor: default;
  text-align: center;
}

/* section config */
#Mmap-section{
  background-color: #343742;
}
#Mtopuserranking-section{
  background-color: #343742;
}
#Mcreatepoll-section{
  background-color: #343742;
}
#Mtopratedpoll-section{
  background-color: #343742;
}
#Mmanage-account-section{
  width: 100%;
  height: 700px; 
}
.header-text-black{
text-align: center;
  color: black;
  font-family: Kanit;
  font-size: 36px;
  font-weight: bold;

  margin-top: 5%;
  margin-bottom: 3%
}


#dashboard-section{
  background: rgb(1,114,178);
  background: radial-gradient(circle, rgba(1,114,178,1) 0%, rgba(52,58,117,1) 100%);
  font-family: Kanit;
  height: auto;
}
.overlay-container-1{

}
.overlay-container-2{
  margin-top: 5%;
}
.dashboard-header-text{
  font-family: Kanit;
  font-size: 24px;
  color: white;
}
#category-overlay{
  width: 250px;
  border: none;
  height: 50px;
  color: black;
  padding: 12px;
  margin-bottom: 5%;
  text-align: left;
  
  outline: none;
  background-color: white;
  border-radius: 3px;
  cursor: pointer;
}

.dashboard-card-score{
  margin-left: 20px;
  margin-top: 10px;
  padding: 13px;
}
.green-tile1{
  background-color: #017519;
  width: 35px;
  height: 35px;
  
}
.yellow-tile1{
  background-color: #F5BD06;
  width: 35px;
  height: 35px;
  
}
.red-tile1{
  background-color: red;
  width: 35px;
  height: 35px;
  
}
</style>