<template>
    <div>
        <div class="kanit-font">กราฟแสดงภาพรวม ผู้ใช้งานตามระยะเวลา</div>
        
        <!--width -->
     <client-only>
     <VueApexChart
     height="330"
     width="660"
     :options="chartOptions" 
     :series="chartOptions.series"></VueApexChart>
     </client-only>
    </div>

</template>

<script>

import axios from '@nuxtjs/axios'

export default {
    components : {
        VueApexChart : () => import('vue-apexcharts')
    },
    data () {
            return {
            
            chartOptions: {
                series: [
                     
                    {
                    name: 'จำนวนผู้เข้าใช้ระบบ',
                    data: [23, 42, 35, 27, 43, 22, 17, 31, 22, 22, 12, 16]
                    }
                ],
                chart: {
                height: 350,
                type: 'line'
                },
                responsive : [{
                breakpoint : 300,
                }],
                stroke: {
                width: [5]
                },
                title: {
                text: 'จำนวนผู้เข้าใช้ระบบ '
                },
                dataLabels: {
                enabled: true,
                enabledOnSeries: [1]
                },
                labels: ['01 Jan 2001', '02 Jan 2001', '03 Jan 2001', '04 Jan 2001', '05 Jan 2001', '06 Jan 2001', '07 Jan 2001', '08 Jan 2001', '09 Jan 2001', '10 Jan 2001', '11 Jan 2001', '12 Jan 2001'],
                
                yaxis: [ {
                
                title: {
                    text: 'จำนวนผู้เข้าใช้ระบบ'
                }
                }]
            }
            }
  },
  async created()  {
      
      this.initialize
  },
  methods : {
      async initialize() {
          let chartOptions = this.chartOptions
          return chartOptions
      }
  }
    
    

}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
.kanit-font{
    font-family: Kanit;
}

</style>