<template>
    <v-row>
              <div>
                <v-col>
                  <div class="green-tile"></div>
                  <div class="yellow-tile"></div>
                  <div class="red-tile"></div>
                </v-col>
              </div> 
          <div>
          <v-col>
            <p class="rank-score-text">ดีมาก</p>
            <p class="rank-score-text">เฉยๆ</p>
            <p class="rank-score-text">เเย่</p>
          </v-col>
          </div> 
        <div>
          <v-col>
            <p class="rank-percent-text">{{score.good}} %</p>
            <p class="rank-percent-text">{{score.moderate}} %</p>
            <p class="rank-percent-text">{{score.bad}} %</p>
          </v-col>
        </div>
        <!--
         <div class="additional-details-container">
            <v-row>
                <p>
                   
                </p>
            </v-row>
        </div> -->
          </v-row>
          
</template>




<script>

const getPoll_URL = process.env.api_getPoll


export default {
    props : {
        que_id : BigInt
    },
    data : () => {
        return {
            data_ : [],
            data : [],
            score : {
                good : 0,
                moderate : 0,
                bad : 0
            }
        }
    },
    async created () {
        this.init();
    },
    methods : {
        async init () {
            let obj_get = await this.$axios.$get(getPoll_URL)
            //let obj_get_question = await this.$axios.$get(getQuestion_URL)
            this.data_ = obj_get.filter( ( obj ) => obj.Que_ID == this.que_id )
            
            let total_amount = this.data_.length

            let good_amount = this.data_.filter( ( obj ) => obj.React_feeling == 3 ).length
            let moderate_amount = this.data_.filter( ( obj ) => obj.React_feeling == 2 ).length
            let bad_amount = this.data_.filter( ( obj ) => obj.React_feeling == 1 ).length


            if (good_amount) {
                this.score.good = (( good_amount / total_amount ) * 100).toFixed(1)
            } else {
                this.score.good = 0
            }

            if (moderate_amount) {
                this.score.moderate = (( moderate_amount / total_amount ) * 100).toFixed(1)
            } else {
                this.score.moderate = 0
            }

            if (bad_amount) {
                this.score.bad = (( bad_amount / total_amount ) * 100).toFixed(1)
            } else {
                this.score.bad = 0
            }

        }
    }
};

</script>

<style>
.green-tile1{
  background-color: #017519;
  width: 35px;
  height: 35px;
  
}
.yellow-tile1{
  background-color: #F5BD06;
  width: 35px;
  height: 35px;
  
}
.red-tile1{
  background-color: red;
  width: 35px;
  height: 35px;
  
}
</style>