<template>
    <div>
        <v-card style="background-color : #FFBF00">
            <v-row>
                <v-col cols="8">
                    <div id="title">MODERATE</div>
                </v-col>
                <v-col cols="4">
                    <div id="score">{{score}}%</div>
                </v-col>
            </v-row>
        </v-card>
    </div>
</template>
<style >
    @import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
    .kanit-font{
        font-family: Kanit;
    }

    #title2{
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 29px;
        font-weight: bold;
        color :white;
        font-family: Kanit;
    }

    #score2{
        padding-bottom: 5px;
        font-size : 33px;
        color: white;
        font-family: Kanit;
    }



</style>
<script>
export default {
    props:{
        score : BigInt 
    },
    data() {
        
    },
}
</script>