<template>
    <div>
        <v-card  style="background-color : #EF233C">
            <v-row>
                <v-col cols="8">
                    <div id="title">BAD</div>
                </v-col>
                <v-col cols="4">
                    <div id="score">{{score}}%</div>
                </v-col>
            </v-row>
        </v-card>
    </div>
</template>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
    .kanit-font{
        font-family: Kanit;
    }

    #title{
        padding-bottom: 5px;
        padding-top: 5px;
        font-size: 29px;
        font-weight: bold;
        color :rgb(248, 226, 229);
        font-family: Kanit;
    }

    #score{
        padding-bottom: 5px;
        font-size : 33px;
        color: rgb(248, 226, 229);
        font-family: Kanit;

    }
</style>
<script>
export default {
    props:{
        score : BigInt 
    },
    data() {
        
    },
}
</script>

<style>

</style>