<template>
        <v-card style="background-color : #26CA48">
            <v-row>
                <v-col cols="8">
                    <div id="title">GOOD</div>
                </v-col>
                <v-col cols="4">
                    <div id="score">{{score}}%</div>
                </v-col>
            </v-row>
        </v-card>
</template>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
    .kanit-font{
        font-family: Kanit;
    }

    #title3{
        padding-top: 5px;
        padding-bottom: 5px;
        font-family: Kanit;
        font-size: 29px;
        font-weight: bold;
        color :white;
    }

    #score3{
        padding-bottom: 5px;
        font-size : 33px;
        color: white;
        font-family: Kanit;
    }
   
</style>
<script>
export default {
    props:{
        score : BigInt  
    },
    data() {
        
    },
}
</script>